html, body{
    height: 100%;
}

body{
  background-image: url('Images/Refined\ Landing\ Page\ empty.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}