html, body{
    height: 100%;
}

.instructions-btn img {
  width: 300px;   
  height: auto;  
}

.instructions-btn {
  background: transparent;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 42vh;
  left: 16.5vw;
}

.start-btn img {
  width: 200px;   
  height: auto;  
}

.start-btn {
  background: transparent;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 33vh;
  left: 20vw;
}

.instructions-page-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.instructions-page-overlay img:not(.close-btn) {
  width: 70%;
  height: auto;
  object-fit: contain;
  box-shadow: 0 0 20px black;
}


.close-btn {
  position: absolute;
  top: 90px;
  right: 220px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1001;
}


body{
  background-image: url('Images/Refined\ Landing\ Page\ empty.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

